* {
  box-sizing: border-box;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Inter",
    "IBM Plex Sans",
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif;
  --font-mono: ui-monospace,
    SFMono-Regular,
    "Cascadia Code",
    "IBM Plex Mono",
    "Roboto Mono",
    "DejaVu Sans Mono",
    "Liberation Mono",
    Menlo,
    Monaco,
    "Consolas",
    "Source Code Pro",
    monospace
}

:root {
  color-scheme: light dark;
  --font-small: 0.875em;
  --font-smaller: 0.8em;
  --wrap-wide: 63em;
  --wrap-normal: 37em;
  --input-width: 20em;
  --image-radius: 6px;
  --line-height: 1.5;
}

.light {
  /* forces light color-scheme */
  color-scheme: light;
}

.dark {
  /* forces dark color-scheme */
  color-scheme: dark;
}

/* Remove gloss effect on select element on Safari  */
select {
  -webkit-appearance: none;
}

:root {
  font-family: -apple-system,
    BlinkMacSystemFont, "Segoe UI Variable Display", "Roboto", ui-sans-serif, system-ui;

  /* Flexoki Color Scheme */
  --paper: #FFFCF080;
  --text: var(--black);
  color: var(--text);
}

p {
  font-family: -apple-system,
    BlinkMacSystemFont, "Segoe UI Variable Display", "Roboto", ui-sans-serif, system-ui;

}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.dark {
  --paper: #1a1818;
  --text: var(--base-50);
  color: var(--text);
}

body {
  padding: var(--body-padding);
  padding-top: calc(var(--body-padding)/var(--h1-line-height));
  margin: 0;
  background-color: var(--paper);
  /* transition: all 0.3s; */

}


:root {
  --theme-toggler-background-color: var(--base-100);
  --theme-toggler-border: 1px solid var(--base-300);
  --theme-toggle-image: url(../assets/toDarkMode.svg)
}

.dark {
  --theme-toggler-background-color: var(--base-900);
  --theme-toggler-border: 1px solid var(--base-800);
  --theme-toggle-image: url(../assets/toLightMode.svg)
}

#theme-toggler {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.618em;
  background-color: var(--theme-toggler-background-color);
  border: var(--theme-toggler-border);
  border-radius: 900px;
  display: flex;
}

#theme-toggler:hover {
  cursor: pointer;
}

#theme-toggler toggle {
  width: 24px;
  height: 24px;
  border: transparent;
  background-image: var(--theme-toggle-image);
}



/* Input */
:root {
  --add-course-border: var(--base-200);
  --input-course-code-border: var(--base-300);
  --input-course-code-text-color: var(--base-900);
  --input-course-code-placeholder-color: var(--base-400);
  --add-entry-background-color: var(--base-50);
}

.dark {
  --add-course-border: var(--base-800);
  --input-course-code-border: var(--base-700);
  --input-course-code-text-color: var(--base-100);
  --input-course-code-placeholder-color: var(--base-150);
  --add-entry-background-color: var(--base-900);
}

#add-entry {
  border: 1px solid var(--add-course-border);
  border-radius: 4.235px;
  display: contents;
  width: fit-content;
  padding: 10px;
  gap: 10px;
  background-color: var(--add-entry-background-color);
}

.inputs,
.inputs:active {
  outline: none;
  border: 1px solid var(--input-course-code-border);
  border-radius: 3.235px;
  line-height: 1.9;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: var(--input-course-code-text-color);
  background-color: var(--paper);
  font-size: 1em;
  /* appearance: none; */

  /* Looks good without this on macos, check later */
  /* padding-top: calc(0.2/1.9)em; */
  /* padding-bottom: 0.2em; */
  height: auto;
  max-height: 2.3em;
}

:root {
  --input-course-code-placeholder-color: var(--base-400);
}

.dark {
  --input-course-code-placeholder-color: var(--flexoki-500);
}

.inputs::placeholder {
  color: var(--input-course-code-placeholder-color);
}


.inputs.error {
  border: rgb(148, 40, 34);
  background-color: var(--red-150);
}


.submit-button,
.submit-button:active,
.submit-button:focus,
.submit-button:focus-visible {
  background-color: var(--flexoki-cyan-700);
  border: 0.046em solid var(--flexoki-cyan-200);
  color: var(--flexoki-cyan-50);
  /* appearance: none; */
  border-radius: 3.235px;
  line-height: 1.9;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
}

.submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.05em #038b7f;
  /* box shadow on focus */
  transition: box-shadow 0.2s ease-in-out;
}

:root {
  --course-code-bg: var(--white);
  --course-code-bg-focus: hsl(54, 100%, 98%);
}

.dark {
  --course-code-bg: var(--base-950);
  --course-code-bg-focus: #151414;
}

#course-code {
  background-color: var(--course-code-bg);
}

#course-code:focus,
.inputs:focus {
  background-color: var(--course-code-bg-focus);
  box-shadow: 0 0 0 1.21px var(--input-course-code-border);
  transition: box-shadow 0.2s ease-in-out;
}

/* Table Cells: Colors */
:root {
  --table-inactive-cells: var(--base-800);
  --table-border: var(--base-100);
  --table-cell-border: var(--base-100);
  --table-background-color: var(--flexoki-50);
}

.dark {
  --table-inactive-cells: var(--base-400);
  --table-border: var(--base-800);
  --table-cell-border: var(--base-900);
  --inactive-cells-background-color: var(--black);
  --table-background-color: var(--base-950);
}

table * {
  color: var(--table-inactive-cells);
  background-color: var(--inactive-cells-background-color);
  width: auto;
  box-shadow: none;
}



table td {
  padding: 0.8em 2em;
  /* margin: auto; */
  text-align: center;
  /* border: 1.48px solid var(--flexoki-100); */
  border-radius: 4px;
}

table {
  width: auto;
  border-collapse: collapse;
  /* background-color: var(--flexoki-50); */
  /* padding: 1px; */
  border-radius: 0.6em;
  border-spacing: 4px;
  box-shadow: none;
  border-collapse: separate;
  margin-top: 4em;
  background-color: var(--table-background-color);
  border: 1.4px solid var(--table-border);
}

td {
  border-radius: 5px;
  /* margin: 25px !important; */

}

/* Table Header: Colors */
:root {
  --table-header-background-color: var(--base-150);
  --table-header-color: var(--black)
}

.dark {
  --table-header-background-color: var(--table-background-color);
  --table-header-color: var(--white)
}

table th {
  font-weight: 500;
  background-color: var(--table-header-background-color);
  color: var(--table-header-color);
  /* border-right-color: transparent; */
  padding: 1em 2em;
}


/* Days: Colors */
:root {
  --table-days-color: var(--base-850);
  /* --table-days-background-color: var(--base-50); */
  --table-right-border: 1.618px solid var(--base-300);

}

.dark {
  --table-days-background-color: var(--base-850);
  --table-right-border: 0.618px solid var(--base-50);
  --table-bottom-border: 0.618px solid var(--base-500);
  --table-days-color: var(--muted-text);
}

td.day {
  text-align: left;
  color: var(--table-days-color);
  background-color: var(--table-background-color);
  /* border-right: var(--table-right-border); */
  /* border-bottom: var(--table-bottom-border); */
  padding-left: 1.25em !important;
  padding-right: 1.25em !important;
  text-transform: uppercase;
  font-family: var(--font-mono);

}

/* Rowspan: Colors */
:root {
  --table-rowspan-background-color: var(--base-50);
  --table-rowspan-color: var(--base-700);
}

.dark {
  --table-rowspan-background-color: var(--base-950);
  --table-rowspan-color: var(--base-200);

}

td[class="vertical-text"] {
  line-height: 2;
  color: var(--table-rowspan-color);
  background-color: var(--table-rowspan-background-color);
}

td[rowspan],
th[rowspan] {
  padding-right: 12px;
  padding-left: 12px;

}

td[rowspan] svg {
  background-color: transparent;

}


.vertical-text {

  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  letter-spacing: 0.6em;
}




.classes {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.618em;
}

h2 {
  width: 100%;
}

.class {
  border: 1px solid var(--add-course-border);
  display: flex;
  width: fit-content;
  padding: 10px;
  gap: 10px;
}



.a,
.b,
.c,
.d,
.e,
.f,
.g,
.p,
.q,
.r,
.s,
.fn1,
.fn2,
.fn3,
.fn4,
.fn5,
.an1,
.an2,
.an3,
.an4,
.an5 {
  font-weight: 500;
  cursor: pointer;
}

.a,
.fn1 {
  background-color: var(--a);
  color: var(--on-highlighted-cell);
}

.b,
.fn3 {
  background-color: var(--b);
  color: var(--on-highlighted-cell);
}

.c,
.fn4 {
  background-color: var(--c);
  color: var(--on-highlighted-cell);
}

.d,
.fn2 {
  background-color: var(--d);
  color: var(--on-highlighted-cell);
}

.e,
.fn5 {
  background-color: var(--e);
  color: var(--on-highlighted-cell);
}

.f,
.an3 {
  background-color: var(--f);
  color: var(--on-highlighted-cell);
}

.g {
  background-color: var(--g);
  color: var(--on-highlighted-cell);
}

.p,
.an1 {
  background-color: var(--p);
  color: var(--on-highlighted-cell);
}

.q,
.an4 {
  background-color: var(--q);
  color: var(--on-highlighted-cell);
}

.r,
.an2 {
  background-color: var(--r);
  color: var(--on-highlighted-cell);
}

.s,
.an5 {
  background-color: var(--s);
  color: var(--on-highlighted-cell);
}


/* Typography */
:root {
  --body-padding: 4.235em;

  --h1-line-height: 1.129;
  --h1-font-weight: 500;
  --h1-font-size: 1.618em;
  --h1-letter-spacing: -0.022em;

  --h2-line-height: 1.129;
  --h2-font-weight: 500;
  --h2-font-size: 1.618em;
  --h2-letter-spacing: -0.022em;

  --input-line-height: 1.618;
  --input-font-weight: 400;
  --input-font-size: 1.129em;
  --input-letter-spacing: -0.017em;

  --input-course-code-font-size: 1.129em;
  --input-subject-name-font-size: 0.78em;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: var(--h1-font-weight);
  letter-spacing: var(--h1-letter-spacing);
  margin-top: 0;
  margin-bottom: 1.618em;

}

h2,
summary {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  margin-top: 1em;
}

summary {
  cursor: pointer;
  margin-bottom: 0.1em;
}

table tr th,
table tr td {
  /* border-right: 1px solid var(--table-border); */
  /* border-bottom: 1px solid var(--table-border); */
  /* background-color: var(--flexoki-paper); */
}

table tr th:not(:last-of-type) {
  border-right: none;
}

table tr th:first-child,
table tr td:first-child {
  /* border-left: 1px solid var(--table-border); */
}

table tr th {
  /* border-top: solid 1px var(--table-border); */
}


/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 0.4rem;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 0.4rem;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 0.4rem;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 0.4rem;
}


.print-button {
  display: flex;
  gap: 0.3em;
  align-items: center;
}

:root {
  --link-color: black;
}

.dark {
  --link-color: white;
}

a {
  color: var(--link-color);
}

#bookmarklet {
  display: block;
  padding-top: 1em;
}

tr>td[colspan="3"] {
  border-left: none !important;
}

/* breakpoint 1: 1024px */
.hidden {
  display: none;
}

.force {
  display: table-cell !important;
}


.caution {
  color: var(--red-400);

}

#add-entry {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  position: relative;
}

/* Modal colors */
:root {
  --modal-background-color: var(--flexoki-150);
}

.dark {
  --modal-background-color: var(--flexoki-850);
  --modal-border: 1px solid var(--flexoki-700);
  --modal-message-text-color: var(--flexoki-100);
  --cancel-button-border: var(--flexoki-red-300);
  --cancel-button-background-color: var(--flexoki-red-800);
  --cancel-button-hover-background-color: var(--flexoki-red-600);
  --cancel-button-text-color: var(--flexoki-red-100);
  --cancel-button-hover-text-color: var(--flexoki-red-50);
}

#confirm-close-dialog {
  padding: 10px;
  margin: 10px auto;
  position: fixed;
  top: 30%;
  border-radius: 0.4em;
  background-color: var(--modal-background-color);
  border: var(--modal-border);
}

.confirm-close-dialog-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.discard-message-text {
  /* font-weight: bold; */
  /* font-size: 1.5rem; */
  color: var(--modal-message-text-color);
}

#tasks-container {
  height: 100%;
  overflow-y: auto;
}

.task {
  margin: 5px 0;
}

.hidden {
  display: none;
}

.cancel-button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  line-height: 1.618;
  border: 1px solid var(--cancel-button-border);
  background-color: var(--cancel-button-background-color);
  border-radius: 0.2em;
  margin: 0 1em;
  font-size: 1.1em;
  color: var(--cancel-button-text-color);
}

.cancel-button:hover,
.cancel-button:focus {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  line-height: 1.618;
  /* border: 2px solid var(--cancel-button-border); */
  background-color: var(--cancel-button-hover-background-color);
  border-radius: 0.2em;
  margin: 0 1em;
  font-size: 1.1em;
  color: var(--cancel-button-hover-text-color);
  box-shadow: 0 0 0 0.05em var(--cancel-button-border);
  /* box shadow on focus */
  transition: 0.1s ease-in-out;
  outline: none;
}

.cancel-button:focus {
  outline: none;
}

div.bar {
  width: 0.01em;
  height: auto;
  border: 1px solid red;
}



.times th {
  /* display: table; */
  text-align: left;
  padding-left: 0;
  left: -1.2em;
  position: relative;
  /* background-color: transparent; */
  font-family: var(--font-mono);
  font-size: 0.7em;
  color: light-dark(red, var(--base-50));
}

.testi::after {
  /* content: " huo "; */
  display: block;
  clear: both;
  border: 1px solid red;
}


.inputs.course-name {
  font-size: 2em;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
}

.inputs.instructors {
  width: 100%;
  background-color: transparent !important;
  border: none;
  padding: 0;
}

/* for landscape devices: laptop tabs */
@media (min-width: 1024px) {
  .inputs.course-name {
    font-size: 2em;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .inputs.instructors {
    width: 100%;
    background-color: transparent !important;
    border: none;
    padding: 0;
  }

  body {
    padding: 0;
    position: relative;
  }

  content {
    position: relative;
    width: 46em;
    display: block;
    margin: auto;
    margin-top: 4em;
  }

  .wide {
    /* padding: 1.5em 0; */
    max-width: Min(100vw, var(--wrap-wide));
    width: Min(100vw, var(--wrap-wide));
    margin-left: calc((Min(100vw, var(--wrap-wide)) - 100%) / -2);
  }


}
