table.changelog *, table.changelog td {
    border: none !important;
    padding: 0.5em;
    padding-left: 0.25em;
    margin: 0;
    text-align: left;
    padding-right: 2em;
    background-color: transparent !important;
}
table.changelog {
    margin-top: 0
}
table.changelog tr td:nth-of-type(2) {
    color: var(--text);
    
}

.todo-section {
    margin-top: 5em;
    font-size: 0.9em
}
.todo-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.todo-list {
    list-style-type: none;
    padding: 0;
}
.todo-list li {
    display: block;
    align-items: center;
    margin-bottom: 8px;
    line-height: 1.9
}
.todo-list li > ul {
    margin-left: 18px;
}
.todo-list input[type="checkbox"] {
    margin-right: 10px;
    border-radius: 50%;
}
.todo-list .completed {
    text-decoration: none;
}

input[type='checkbox']:disabled {
    accent-color: red;
}